h1
{
    text-align: center;
}

.currency-converter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-button
{
    width: 310px;
    height:  40px;
}

.dropdown
{
    width: 310px;
    display: flex;
    flex-direction: row;
}

.submit-button
{
    width: 80px;
    height: 40px;
}

.base-currency
{
    width: 297px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 1px;
}

input 
{   
    width: 125px;
     text-align: right;
}
